#use_server: https://usegalaxy.org
#use_workflow_id: 70ab1097bb229f90
#new_history_name_suffix: Consensus
#new_history_tag: cog-uk_consensus

#from_history_name: {histories[0][name]}
#from_history_id: {histories[0][id]}

min-AF for consensus variant: 0.7
min-AF for failed variants: 0.25
Depth-threshold for masking: 10
Variant calls:
  class: Collection
  galaxy_id: "{datasets[1][id]}"
aligned reads data for depth calculation:
  class: Collection
  galaxy_id: "{datasets[0][id]}"
Reference genome:
  # This dataset is part of the published history
  # https://usegalaxy.org/u/aun1/h/artic-v3
  class: File
  galaxy_id: bbd44e69cb8906b5ed2585053d93e340
