#use_server: https://usegalaxy.eu
#use_workflow_id: d4b0444778f0519c
#new_history_name_suffix: Viral Beacon export
#new_history_tag: data-export

#from_history_name: {histories[0][name]}
#from_history_id: {histories[0][id]}

Annotated list of variants:
  class: Collection
  galaxy_id: "{datasets[1][id]}"
Fully processed aligned reads:
  class: Collection
  galaxy_id: "{datasets[0][id]}"
Consensus FASTA sequences:
  class: Collection
  galaxy_id: "{datasets[2][id]}"

