#use_server: https://usegalaxy.eu
#use_workflow_id: 48509fef29ad8166
#history_for_downloads: 96cd6d8191d4e3d6

#from_history_name: {histories[0][name]}
#from_history_id: {histories[0][id]}
#from_ena_links_in: {collections[0][elements][0][object][id]}
#batch_name: {collections[0][elements][0][element_identifier]}

ARTIC primer BED:
  # This dataset is part of the published history
  # https://usegalaxy.eu/u/wolfgang-maier/h/covid-19-resources
  class: File
  galaxy_id: "11ac94870d0bb33ad57d463d2b9fd413"
ARTIC primers to amplicon assignments:
  # This dataset is part of the published history
  # https://usegalaxy.eu/u/wolfgang-maier/h/covid-19-resources
  class: File
  galaxy_id: "11ac94870d0bb33a27803f2f94a23aab"
NC_045512.2 FASTA sequence of SARS-CoV-2:
  # This dataset is part of the published history
  # https://usegalaxy.eu/u/wolfgang-maier/h/covid-19-resources
  class: File
  galaxy_id: "11ac94870d0bb33a66d3e6ba690be46d"
